@model IEnumerable<ZPOS.UI.Models.ClientVM>
<style>
    .btnDelete {
        color: white !important;
        font-weight: bold !important;
    }

    .btnEdit {
        color: white !important;
        font-weight: bold !important;
    }
</style>
<table class="table table-head-fixed text-nowrap table-striped table-bordered table-sm mt-4" id="table">
    <thead>
        <tr>
            <th>Nombre completo</th>
            <th>Documento</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th width="25%">Dirección</th>
            <th>Agregado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
        <tr>
            <td>@client.CompletedName</td>
            <td>@client.Document</td>
            <td>@client.Email</td>
            <td>@client.Phone</td>
            <td>@client.Address</td>
            <td>@client.CreationDate</td>
            <td>
                <a data-clientId="@client.ID" class="btn btn-warning btnEdit"><i class="fas fa-edit"></i></a> | <a data-clientId="@client.ID" class="btn btn-danger btnDelete"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>

<script src="~/js/configDataTable.js"></script>
<script src="~/js/Clients.js"></script>

<script>
    $('.btnDelete').on('click', function () {
        var id = $(this).attr("data-clientId");

        Swal.fire({
            title: '¿Estas seguro?',
            text: "Esta transacción no tiene reverso!!!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#007bff',
            cancelButtonColor: '#dc3545',
            confirmButtonText: 'Si, eliminalo!'
        }).then((result) => {
            if (result.isConfirmed) {
                DeleteClient(id).then(result => {
                    Swal.fire(
                        'Eliminado!',
                        result,
                        'success'
                    )

                    GetClients().then(brands => {
                        $("#divBrands").html(brands);
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: error
                        });
                    });

                }).catch(error => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: error
                    });
                });
            }
        })
    });
</script>